
/* Style colour pallette https://coolors.co/eeeed2-fda55e-2F2C2C */
/* Dark: #2F2C2C */
/* Mid: #FDA55E */
/* Light: #EEEED2 */

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 36px;
      background-color: green;
    }
  }

/* General page style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

th {
    font-size: 20px;
    font-weight: bold;
}

th, td {
    padding: 10px;
}

h1 {
    margin: 0px;
    padding: 10px;
    background-color: #FDA55E;
    color: #2F2C2C;
    font-size: 60px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;

}


/* Specific page style */

.whole-page {
    background-color: #FDA55E;
}

.page-content {
    background-color: #2F2C2C;
    font-family: Helvetica, sans-serif;
    color: #EEEED2;
    border-radius: 30px;
    width: 95%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    justify-content: space-evenly;
}

ul p {
    list-style-type: circle;
}

#generate-button {
    width: 100%;
    height: 100px;
    display: inline-flex;
    justify-content: center;
    margin: 15px 0px;
}

button {
    padding: 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 20px;
    background-color: #FDA55E;
    box-shadow: 0 7px #966945;
    color: #2F2C2C;
    font-size: 36px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:active {
    color: #2F2C2C;
    box-shadow: 0 3px #966945;
    transform: translateY(3px);
}

.pack {
    background-color: #2F2C2C;
    margin: 25px 5px 0px;
    padding: 10px;
    width: 80%;
    border: 2px solid #EEEED2;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
}

.pack-table {
    display: inline-grid;
    padding-top: 10px;
}

.pack-title h2 {
    margin: 10px 10px 25px;
}

.footer-content {
    border-top: #FDA55E 2px solid;
    background-color: #2F2C2C;
    font-size: 12px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content p {
    color: #FDA55E;
    padding: 15px;
    text-align: left;
}

.socials {
    height: 30px;
    display: inline-flex;
    align-items: center;
    padding: 5px 15px 0px 0px;
}

.socials img {
    height: 40px;
    padding: 5px;
}